# IDEs and editors
.idea

#Checkpoint
.ipynb_checkpoints

#Images and execution logs
*.png
*.npy

#Bats Augmentation DataSet
*.bat

#DataSets
DataSet
DataSetBKP
DataSetBKPVAL

#weights pre-trained networks
dataset.h5

# System Files
.DS_Store
Thumbs.db